<link href="lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" rel="home" href="index.html">Bs-jQ</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li><a href="index.html">Home</a>
                        </li>
                        <li><a href="html/userPage.html">Add user</a>
                        </li>
                        <li class="active"><a href="addAdvt.html">Add Advt</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="upcoming.html">Upcoming</a>
                                </li>
                                <li><a href="archive.html">Archive</a>
                                </li>
                                <li><a href="alert.html">Alert</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="span12">&nbsp;</div>
    <div class="span12">&nbsp;</div>

    <div class="advtDiv"></div>

    <footer class="bs-footer">
        <div class="container" align="right">
            <div class="page-header"></div>
            <button class="btn btn-default" data-toggle="modal" data-target="#imgModal">
                Add image
            </button>

        </div>
    </footer>

    <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add image</h4>

                </div>
                <div class="modal-body">
                    <div class="imageModal"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="lib/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('.advtDiv').load("html/advtDiv.html");

            $('.imageModal').load("html/addImage.html");
        });
    </script>

</body>

</html>