<div class="container" style="margin: 10px;">

    <form>
        <div class="form-group">
            <label for="alert" class="col-md-2">
                Alert name:
            </label>
            <div class="col-md-10">
                <input type="text" id="alert" placeholder="Enter alert">
            </div>

            <p style="height:35px"></p>
        </div>

        <div class="form-group">
            <label for="date" class="col-md-2">
                Date:
            </label>
            <div class="col-md-10">
                <input type="text" placeholder="Datepicker" id="datepick">
            </div>
            <p style="height:35px"></p>
        </div>

        <div class="form-group">
            <label for="description" class="col-md-2">
                Description:
            </label>
            <div class="col-md-10">
                <textarea class="input-large" cols="22" id="description" name="description" rows="4" placeholder="Enter description"></textarea>
            </div>
            <p style="height:35px"></p>
        </div>
        
        <div class="form-group">
            <label for="detail" class="col-md-2">
                Detail:
            </label>
            <div class="col-md-10">
                <textarea class="input-large" cols="22" id="detail" name="detail" rows="4" placeholder="Enter detail"></textarea>
            </div>
        </div>
        
    </form>
</div>

<script src="js/datePicker.js"></script>