<div class="container" style="margin: 10px;">

    <form>
        <div class="form-group">
            <label for="imgname" class="col-md-2">
                Name:
            </label>
            <div class="col-md-10">
                <input type="text" id="imgname" placeholder="Enter name">
            </div>
            <p style="height:35px"></p>
        </div>

        <div class="form-group">
            <div class="col-md-12" style="position:relative;">
                <a class='btn btn-primary' href='javascript:;'>
            Choose File...
            <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
        </a>
                &nbsp;
                <span class='label label-info' id="upload-file-info"></span>
            </div>
        </div>
    </form>
</div>