<div class="container" style="margin: 10px;">
    <div class="page-header">
        <h3>&nbsp;&nbsp;New user</h3>
    </div>

    <form>
        <div class="form-group">
            <label for="name" class="col-md-2">
                Name:
            </label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="name" placeholder="Enter Name">
            </div>

            <p style="height:35px"></p>
        </div>

        <div class="form-group">
            <label for="mobile" class="col-md-2">
                Mobile number:
            </label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile Number">
            </div>

            <p style="height:35px"></p>
        </div>

        <div class="form-group">
            <label for="emailaddress" class="col-md-2">
                Email address:
            </label>
            <div class="col-md-10">
                <input type="email" class="form-control" id="emailaddress" placeholder="Enter email address">
                <p class="help-block">
                    Example: yourname@domain.com
                </p>
            </div>
        </div>


        <div class="form-group">
            <label for="sex" class="col-md-2">
                Sex:
            </label>
            <div class="col-md-10">
                <label class="radio">
                    <input type="radio" name="sex" id="sex" value="male" checked>Male
                </label>
                <label class="radio">
                    <input type="radio" name="sex" id="sex" value="female">Female
                </label>
            </div>


        </div>

        <div class="form-group">
            <label for="state" class="col-md-2">
                State:
            </label>
            <div class="col-md-10">
                <select name="state" id="state" class="form-control">
                    <option>--Please Select--</option>
                    <option>Kerala</option>
                    <option>Tamilnadu</option>
                    <option>Karnataka</option>
                    <option>Goa</option>
                    <option>Others</option>
                </select>
            </div>
            <p>&nbsp;</p>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10" align="right">
                <button type="submit" class="btn btn-info">
                    Register
                </button>
            </div>
        </div>
            
    </form>
</div>
