<div class="container" style="margin: 10px;">

    <form>
        <div class="form-group">
            <label for="event" class="col-md-2">
                Event name:
            </label>
            <div class="col-md-10">
                <input type="text" id="event" placeholder="Enter event">
            </div>

            <p style="height:35px"></p>
        </div>

        <div class="form-group">
            <label for="date" class="col-md-2">
                Date:
            </label>
            <div class="col-md-10">
                <input type="text" placeholder="Datepicker" id="datepick">
            </div>
            <p style="height:35px"></p>
        </div>

        <div class="form-group">
            <label for="agenda" class="col-md-2">
                Agenda:
            </label>
            <div class="col-md-10">
                <textarea class="input-large" cols="22" id="agenda" name="agenda" rows="4" placeholder="Enter agenda"></textarea>
            </div>
        </div>
    </form>
</div>

<script src="js/datePicker.js"></script>