<script src="js/advt.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Images</h1>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4" id="images" align="center">
        </div>
    </div>
</div>