<script src="js/archive.js"></script>

<div>
    <p style="height:100px"></p>
</div>
<div class="container" style="margin: 10px;">
    <table align="center" class="table table-bordered" id="table">
        <caption><h4><U>Archive Events</U></h4></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Agenda</th>
                <th>Note</th>
            </tr>
        </thead>
    </table>
</div>