<script src="js/upcoming.js"></script>

<div>
    <p style="height:100px"></p>
</div>
<div class="container" style="margin: 10px;">
    <table align="center" class="table table-striped" id="table" style="width: 98%;">
        <caption><h4><U>Upcoming Events</U></h4></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th colspan="3">Agenda</th>
            </tr>
        </thead>
    </table>
</div>