<link href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" rel="home" href="../index.html">Bs-jQ</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li><a href="../index.html">Home</a>
                        </li>
                        <li class="active"><a href="userPage.html">Add user</a>
                        </li>
                        <li><a href="../addAdvt.html">Add Advt</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="../upcoming.html">Upcoming</a>
                                </li>
                                <li><a href="../archive.html">Archive</a>
                                </li>
                                <li><a href="../alert.html">Alert</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="span12">&nbsp;</div>
    <div class="span12">&nbsp;</div>

    <div class="adduser" />
    
    <script src="../lib/jquery-2.1.1.min.js"></script>
    <script src="../lib/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('.adduser').load("addUserDiv.html");
        });
    </script>
    
</body>

</html>